.card__like-button {
  grid-area: button;
  justify-self: center;
  align-self: start;
  margin-top: 22px;
  width: 22px;
  height: 19px;
  border: 0;
  background-position: center;
  background-size: cover;
  background-image: url(../../../images/like-disabled.svg);
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}

