.header__button {
  background-color: #000;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  border: 0;
  align-self: center;
  height: 22px;
  padding: 0;
  text-decoration: none;
}

.header__button:hover {
  opacity: 0.6;
}
